.cart-items {
  flex-basis: 60%;
}
.card.cart-item {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
.card.cart-item .image {
  flex-basis: 40%;
}

.cart-item__details {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart-item__buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart-item__buttons button {
  font-size: 75%;
}
