.form-change-password {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-change-password label {
  display: block;
  font-size: 0.8rem;
}
.form-change-password label,
.form-change-password input,
.form-change-password button {
  width: 50%;
  margin: auto;
}
