.reset-password-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
  margin-top: 2rem;
}
.reset-password-form label {
  font-size: 0.8rem;
}
.reset-page-brand {
  margin-bottom: 2rem;
}
.reset-password-form a {
  display: inline-block;
  width: 100%;
}
.reset-password-form button {
  width: 100%;
}
