/* .car-item .car__brand-input {
  display: none;
} */
.car-item button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background: none;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  border-bottom: 1px solid var(--black-color);
  margin-bottom: 0.5rem;
}

.car-item ul {
  list-style: none;
}

.car__models label,
.car__models input {
  display: inline-block;
}
.car__models label {
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
}
/* .car-item input:checked + label + ul {
  display: block;
} */
/* .car-item label {
  cursor: pointer;
} */
