.filter-section__price {
  margin: 0.5rem;
}
.filter-section__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price__input {
  flex-basis: 50%;
  border: none;
  border-bottom: 1px solid var(--grey-color);
}
.price__input label {
  font-size: 75%;
}
